<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="./css/app.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app" class="relative container mx-auto h-screen py-12">
      <h2 class="text-4xl text-center mb-6">2022 尾牙賓果抽獎</h2>
      <p class="text-gray-700 text-center mb-6">
        總共 {{ total }}，已抽出 {{ bingoed }}，剩餘 {{ remainder }} 分館
      </p>
      <section class="flex flex-wrap w-1/2 mx-auto p-3">
        <div class="flex itmes-center justify-center w-full h-50vh p-6">
          <transition name="fade">
            <div class="flex items-center justify-center w-full" v-if="bingo">
              <template>
                <img class="w-20 h-20 rounded-full" :src="bingo.image" />
                <p class="ml-6 text-5xl">{{bingo.title}}</p>
              </template>
            </div>
          </transition>
        </div>
        <button
          class="transition duration-150 ease-in-out transform hover:scale-125 bg-emerald-500 text-white font-semibold py-3 px-6 rounded mx-auto"
          @click="onBingo"
        >
          Bingo!
        </button>
      </section>
      <section
        ref="list"
        class="absolute left-0 top-0 w-1/4 py-6 px-12 space-y-3 max-h-screen overflow-y-scroll no-scrollbar"
      >
        <transition-group name="list" class="space-y-3" tag="div">
          <template v-for="(location, index) in result">
            <div
              class="flex items-center justify-center w-full rounded px-6 py-3 border"
              :key="index"
            >
              <img
                class="w-10 h-10 rounded-full mx-auto"
                :src="location.image"
              />
              <p class="w-full ml-4">{{location.title}}</p>
            </div>
          </template>
        </transition-group>
      </section>
      <span
        class="fixed right-1 bottom-1 hover:text-red-500 cursor-pointer"
        @click="reset"
        >reset</span
      >
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="./js/app.js"></script>
</html>
